# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
*.sln
*.vcxproj*
.vs/
Debug/
x64/
enc_temp_folder/
*.user
TestResults/

# JetBrains IDEs
.idea/*
!.idea/codeStyles
!.idea/codeStyles/Project.xml
!.idea/inspectionProfiles
!.idea/vcs.xml
!.idea/.gitignore

# CMake build
cmake-build-*/

# Assets
!**/assets/**
*.meta

# Vcpkg
vcpkg/
.vcpkg/

# Others
build/
dependencies/
