################################################################################
#    ___ ___  __  __ ___ _____                                                 #
#   / __/ _ \|  \/  | __|_   _|                                                #
#  | (_| (_) | |\/| | _|  | |                                                  #
#   \___\___/|_| _|_|___|_|_|_ _   _ ___    _ _____ ___ ___  _  _              #
#   / __/ _ \| \| | __|_ _/ __| | | | _ \  /_\_   _|_ _/ _ \| \| |             #
#  | (_| (_) | .` | _| | | (_ | |_| |   / / _ \| |  | | (_) | .` |             #
#   \___\___/|_|\_|_| |___\___|\___/|_|_\/_/ \_\_| |___\___/|_|\_|             #
#                                                                              #
################################################################################

# APPLICATION ##################################################################
application_name = Comet Editor
application_major_version = 0
application_minor_version = 1
application_patch_version = 0

# CORE #########################################################################
core_ms_per_update = 16.66

# EVENT ########################################################################
event_max_queue_size = 200

# RENDERING ####################################################################
# Common
rendering_driver = vulkan
rendering_window_width = 800
rendering_window_height = 600
rendering_clear_color_r = 0.5
rendering_clear_color_g = 0.5
rendering_clear_color_b = 0.5
rendering_clear_color_a = 1.0
rendering_is_vsync = 1
rendering_is_triple_buffering = 1
rendering_fps_cap = 0
rendering_anti_aliasing = msaa
rendering_is_sampler_anisotropy = 1
rendering_is_sample_rate_shading = 1

# OpenGL
rendering_opengl_major_version = 4
rendering_opengl_minor_version = 6

# Vulkan
rendering_vulkan_variant_version = 0
rendering_vulkan_major_version = 1
rendering_vulkan_minor_version = 2
rendering_vulkan_patch_version = 0
rendering_vulkan_max_frames_in_flight = 2

# RESOURCE #####################################################################
resource_root_path = resources